
/* Shop Container */
.shop-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    font-family: Arial, sans-serif;
  }
  
  /* Cart Items */
  .cart-items {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #f2e8dc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .item-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .item-details {
    flex-grow: 1;
    margin-left: 1rem;
  }
  
  .item-name {
    font-size: 1rem;
    font-weight: bold;
    color: #5c4435;
  }
  
  .item-price {
    font-size: 0.9rem;
    color: #7a5e47;
  }
  
  .quantity-control {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }
  
  .quantity-btn {
    padding: 0.5rem;
    background-color: #5c4435;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .quantity-btn:hover {
    background-color: #7a5e47;
  }
  
  .quantity {
    font-size: 1rem;
    font-weight: 600;
    color: #5c4435;
  }
  
  .remove-btn {
    padding: 0.5rem 1rem;
    background-color: #7c5453;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: width 0.3s ease, background-color 0.3s ease;
    width: 120px; 
  }
  
  .remove-btn:hover {
    background-color: #8c706f;
    width: 165px;
  }
  
  .clear-cart-btn {
    padding: 0.5rem 1rem;
    background-color: #4b3427;
    color: white;
    border: none;
    border-radius: 50px;
    margin-top: 0rem;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 120px;
  }
  
  .clear-cart-btn:hover {
    background-color: #604833;
    width: 185px;
  }

  /* Total Section */
.total-section {
    text-align: right;
    margin-top: 1rem;
  }
  
  .total {
    font-size: 1.2rem;
    font-weight: bold;
    color: #5c4435;
  }
  
  /* Empty Cart */
.empty-message {
    font-size: 1rem;
    font-weight: bold;
    color: #888;
    text-align: left;
    margin-bottom: 1rem;
  }
  
  .shop-btn {
    padding: 0.5rem 0.5rem;
    background-color: #564030;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
    display: block;
    margin: 0 auto;
    width: 150px;
    margin-left: 0;
    margin-bottom: 16.5rem;
  }
  
  .shop-btn:hover {
    background-color: #573e2e;
    width: 280px;
  }