
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3e2723;
    padding: 0.5rem 0.7rem;
    color: white;
  }
  
  .logo {
    font-size: 1.0rem;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    gap: 3.3rem;
    font-size: 0.9rem;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #ffcc80;
  }
  
  .search-icon {
    font-size: 1.0rem;
    cursor: pointer;
  }

  .logo-img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
  }
  
  .icon-img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
  }

  .search-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .search-input {
    padding: 0.2rem;
    border-radius: 4px;
    border: 0px;
    outline: none;
    background-color: #dcd7cd;
  }
  